<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django To-Do App - Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form>
            <div class=container>
                <form action="/todo/sign_up/" method="post" class="form-sign-up">
                {% csrf_token %}
                <div class="form-sign-up">
                    <label for="Username"> Enter your username: </label>
                    <input type="text" name="title" id="username" required>
                </div>
                <div class="form-sign-up">
                    <label for="Password"> Enter your password: </label>
                    <input type="text" name="password" id="password" required>
                </div>
                <div class="form-sign-up">
                    <label for="Email"> Enter your email: </label>
                    <input type="text" name="email" id="email" required>
                </div>
                <div class="form-sign_up">
                    <input type="submit" value="Sign Up!">
                  </div>
        </form>




    </body>